body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
}

input {
  width: 90%;
  padding: 8px;
  margin: 8px 0;
}

button {
  width: 95%;
  padding: 12px 8px;
  border-radius: 8px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: blue;
}
